.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  /* max-height: 304px; */
  border-radius: 16px;
  overflow: hidden;
  border: 1px;

  box-sizing: border-box;
  position: relative;
  padding: 28px;
}

.modal__garment {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  background-color: #0000004d;
  color: white;
  margin-top: 30px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.modal__close {
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #0000004d;
  background: url("../../images/Union.svg") center no-repeat;
  position: absolute;
  border: none;
}

.modal__close_content_form {
  background: url("../../images/darkx.svg") center no-repeat;
  border: none;
}

.modal__h3 {
  width: 104px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: "Cabinet", sans-serif;
}

.modal__form {
  font-family: "Cabinet", sans-serif;
}

.modal__content_type_image {
  padding: 0;
}
