.modal__card_image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains the aspect ratio */
  max-height: 610px; /* Max height from your image */
}

.modal__content > div {
  margin-top: 20px; /* Adds space between the image and text */
}

.modal__card_image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains the aspect ratio */
  max-height: 610px; /* Max height from your image */
}
