.modal__card_image {
  object-fit: cover;
  max-width: 100%;
  height: 488px;
  width: 496px;
}

.modal__content > div {
  margin-top: 20px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__description {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  column-gap: 12px;
  gap: 12px;
  margin-bottom: 32px;
  font-family: "Cabinet", sans-serif;
}

.modal__delete {
  position: absolute;
  left: 351px;
  top: 515px;
  border: none;
  cursor: pointer;
  font-family: "cabinet", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ff4d00;
  background: white;
}

.modal__combo {
  display: flex;
  justify-content: space-between;
}

.item__delete-button {
  align-self: flex-start;
  margin-right: 32px;
  cursor: pointer;
  font-family: "Cabinet", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: white;
  color: #ff4d00;
}

.confirm__modal {
  font-family: "Cabinet", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: fixed;
  width: 670px;
  /* height: 271px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  /* text-align: center; */
  border-radius: 20px;
}

.confirm__modal_close {
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #0000004d;
  background: url("../../images/darkx.svg") center no-repeat;
  position: absolute;
  border: none;
}

.confirm__modal p {
  margin-bottom: 20px;
}

.confirm__modal-button {
  /* display: block; */
  /* justify-content: center; */
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.confirm__modal-button_delete {
  background-color: white;
  color: #ff4d00;
}

.confrim__modal-text {
  width: 367px;
  height: 48px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.modal__close_content_form {
  background: url("../../images/darkx.svg") center no-repeat;
  border: none;
}
