.side__bar {
  display: flex;
  font-family: "Cabinet", sans-serif;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 229px;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
}
