.weather {
  position: relative;
  margin-left: 40px;
}

.weather__info {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.main {
  width: 1440px;
  height: 822px;
  background-color: burlywood;
}

.card__section {
  margin-left: 40px;
}

.card__name {
  text-align: center;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 20px;
  outline: #0000004d 1px solid;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 30px;
}

.footer {
  width: 1358px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 50px;
}
